.Board {
  padding: 2em;
  display: grid;
  grid-template-areas:
    "x queue queue-countdown"
    "move-timer board board";
}

.Board__chessboard {
  grid-area: board;
}

.move-timer {
  grid-area: move-timer;
  width: 1em;
  border: 1px solid #fff;
  display: flex;
  align-items: flex-end;
}

.piece-queue {
  grid-area: queue;
}

.piece-queue-countdown {
  grid-area: queue-countdown;
}
