.Board {
  display: grid;
  grid-template-areas:
    ". queue queue-countdown"
    "move-timer board board"
    ". name name";
  grid-template-columns: auto 5fr 3fr;
  grid-template-rows: 1fr 8fr auto;
  width: 100%;
  max-width: 75vh;
}

.Board__chessboard {
  grid-area: board;
}

.opponent-boards {
  width: 100%;
  max-width: 75vh;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 1fr min-content;
  grid-auto-flow: column;
  grid-auto-columns: 0.5fr 0.5fr;
  justify-content: center;
}

.opponent-boards .Board {
  grid-template-columns: auto 5fr 1fr;
}

.move-timer {
  grid-area: move-timer;
  min-width: 1em;
  border: 1px solid #fff;
  display: flex;
  align-items: flex-end;
}

.piece-queue {
  grid-area: queue;
  display: flex;
  justify-content: flex-end;
}

.piece-queue-countdown {
  grid-area: queue-countdown;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.piece-queue-countdown .red {
  color: #fa233e;
}

.client-name {
  grid-area: name;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(255 255 255 / 0.5);
}

.ready-toggle {
  text-transform: uppercase;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fa233e;
}

.opponent-boards .ready-toggle {
  font-size: 1em;
}

.ready-toggle.checked {
  color: #44d492;
}

.ready-toggle .interactive {
  cursor: pointer;
}

.ready-toggle input[type="checkbox"] {
  display: none;
}

.board-with-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
