.Game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  display: flex;
}

.board-with-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ready-toggle {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 1em;
  color: #fa233e;
}

.ready-toggle.checked {
  color: #44d492;
}

.ready-toggle .interactive {
  cursor: pointer;
}

.ready-toggle input[type="checkbox"] {
  display: none;
}

.start-button {
  border: none;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: none;
}
